* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}
.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
}
.none {
    display: none !important;
}
a {
    text-decoration: none;
    background: transparent;
    &:active,
    &:hover {
        border: 0px solid red;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }
}
body {
    background-color: #fffbf8;
}
ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 0px;
    li {
        cursor: pointer;
        font-family: Montserrat;
        font-weight: bold;
        display: inline;
        margin-right: 10px;
        color: #000000b8;
        padding: 7px;
        border-radius: 25px;
        border: 1px solid #bdbaff;
        border: 2px dashed #ffa3007a;
        border: 2px solid #bdbaff;
        &:hover:not(.active) {
            /*  color: #e9e9e9; */
            text-shadow: 9px -5px red;
        }
    }
}
hr {
    border: 2px solid gold;
    width: 50%;
    border-radius: 10px;
    border: 4px solid gold;
    background: gold;
    width: 50%;
    border-radius: 10px;
    margin-right: 0;
    margin-bottom: -45px;
    margin-top: 25px;
    z-index: 4;
    position: relative;
    width: 80%;
    border: 6px solid gold;
    margin-bottom: -47px;
    &:nth-child(2) {
        border: 3px solid #daff00;
        width: 60%;
    }
    &:nth-child(3) {
        border: 4px solid gold;
        width: 70%;
    }
}
h1 {
    font-family: Pattaya;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    top: -60px;
    margin-bottom: -67px;
    background: white;
    color: white;
    font-size: x-large;
    margin-bottom: -63px;
    background: #ffecec;
    background: rgba(160, 213, 253, 0.93);
    letter-spacing: 1px;
    border-radius: 30px 0px 0px 30px;
    padding: 5px 20px;
    border-top: 2px solid rgb(82 177 252 / 0%);
    color: #4c4c4c;
    font-size: x-large;
    margin-bottom: -63px;
    background: linear-gradient(89deg, rgb(160 213 253 / 63%), transparent);
    letter-spacing: 1px;
}
.h2 {
    font-family: Koulen;
    margin: auto;
    border-radius: 10px;
    padding: 5px 20px;
    color: #fbff00;
    font-size: xx-large;
    margin-bottom: 2px;
    letter-spacing: 1px;
    /*     border-top: 2px solid yellow; */
    background: #343434;
    position: inherit;
    z-index: 2;
    /*     box-shadow: 0 0 5px black; */
}
h2 {
    /*     font-family: Koulen;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    top: -60px;
    margin-bottom: -67px;
    background: white;
    border-radius: 16px;
    padding: 5px 20px;
    color: #564343;
    padding-top: 25px;
    font-size: xx-large;
    margin-bottom: -63px;
    background: #ffecec;
    background: rgb(255, 251, 248);
    letter-spacing: 1px;
    border-bottom: 5px solid gainsboro; */
    /*     font-family: Koulen;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content; */
    /* position: relative; */
    /*     top: -60px;
    margin-bottom: -67px;
    background: white;
    border-radius: 16px;
    padding: 5px 20px;
    color: #564343; */
    /* padding-top: 25px; */
    /*     font-size: xx-large;
    margin-bottom: -55px;
    background: #ffecec;
    background: rgb(255, 251, 248);
    letter-spacing: 1px;
    box-shadow: inset 0 0 6px #00000080;
    box-shadow: 4px 6px 5px rgb(0 0 0 / 50%); */
    /* border-bottom: 5px solid gainsboro;*/
    font-family: Koulen;
    margin: auto;
    /*     top: -60px; */
    border-radius: 10px;
    padding: 5px 20px;
    color: #fbff00;
    font-size: xx-large;
    margin-bottom: 2px;
    /*     background: rgb(255 109 0 / 19%); */
    letter-spacing: 1px;
    /*     box-shadow: inset 0 0 6px rgb(0 0 0 / 50%); */
    /*  filter: sepia(1); */
    border-top: 2px solid yellow;
    background: #343434;
    position: inherit;
    z-index: 2;
    box-shadow: 0 0 5px black;

    &::before {
        background: linear-gradient(180deg, transparent, #ffffffbf);
        position: absolute;
        width: 80%;
        height: 29%;
        /* z-index: 31; */
        margin-top: 16px;
    }
}
h3 {
    background-color: white;
    padding: 10px 30px;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-top: 29px;
    margin-bottom: 10px;
    border-bottom: 5px dashed red;
    border-radius: 10px 64px;
    border: 4px solid black;
    box-shadow: 2px 0px 3px 2px rgb(0 0 0 / 7%);
    /* border: 0; */
    font-family: "Montserrat";
    box-shadow: 2px 0px 3px 2px rgb(0 0 0 / 7%);
    width: 185px;
    i {
        color: white;
    }
    span {
        font-size: 80px;
        font-size: 200px;
        font-size: 250px;
        text-transform: uppercase;
        font-family: Koulen;
        display: block;
        margin-top: -29px;
        margin-bottom: -31px;
        color: #ffeb00ab;
        @media (max-width: 467px) {
            font-size: 200px;
        }
    }
    &:hover {
        border-radius: 21px;
        animation-name: irradiarh3;
        /* animation-duration: 0.2s; */
        cursor: pointer;
    }
}
