nav ul {
    list-style: none;
    margin-top: 0;
    padding-top: 30px;
    .active {
        margin-left: 5px;
        border-radius: 63px;
        padding: 5px 30px;
        border: 8px solid #3f3f3f;
        border-bottom: 8px solid goldenrod;
        color: white;
    }

    li {
        cursor: pointer;
        font-family: Koulen;
        font-weight: bold;
        display: inline;
        margin-right: 10px;
        text-transform: uppercase;
        font-size: calc(20px + 3vw);
        font-weight: bold;
        border: none;
        color: goldenrod;
        /*         &:active {
            animation-name: textolink;
            animation-duration: 2.5s;
        } */
        @media (min-width: 1200px) {
            font-size: 55px;
        }
    }
}
