$width-after: 10px;
#sellos {
    font-family: Koulen;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 100%;
    max-width: 400px;
    display: grid;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
    grid-template-columns: 50% 50%;
    gap: 20px;
    @media (max-width: 768px) {
        grid-template-columns: 100%;
    }
    .iconos {
        position: relative;
        top: -3px;
        margin-bottom: 7px;
        background: white;
        background: transparent;
        width: 62px;
        z-index: 6;
        display: none;
    }
    div {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
        border: 1px solid #ffffff36;
        border: 2px solid hsl(0deg 98% 82%);
        border: 2px solid #fea4a44f;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 5px black;
        text-align: left;
        @media (max-width: 450px) {
            width: 100%;
            max-width: 250px;
            margin: auto;
            margin-bottom: 12px;
        }
        p:nth-child(2) {
            color: yellow !important;
        }
        button {
            font-size: large;
            padding: 0px 9px;
            /* border-left: 2px solid rgb(190, 190, 190); */
            margin-top: 15px;
            color: rgb(169 169 169);
            font-family: "Koulen";
            .dot {
                position: absolute;
                right: -24px;
                top: -7px;
                width: 10px;
                height: 10px;
                background: yellow;
                border: 3px solid #343434;
                box-sizing: content-box;
                border-radius: 50%;
                padding: 0px !important;
                &:after {
                    display: none;
                }
            }
        }
    }
    p {
        display: flex;
        flex-direction: column;
        font-size: x-large;
        color: white;
        margin: -1px 10px;
        text-align: left;
        &:hover {
            left: 20px;
            transition-duration: 500ms;
            transition-property: left;
            cursor: pointer;
            color: yellow;
        }
    }
}
