@import "_animations";
@import "_nav";
@import "_sellos";
@import "_proyectos";
@import "_footer";
@import "_globales";

#home {
    margin-top: 40px;
    overflow-x: hidden;
}

.detras{
    rotate: -20deg;
    position: relative;
    bottom: -40px;
    z-index: 0;
    font-size: xxx-large;
    font-family: 'Koulen';
    color: yellow;
    text-shadow: 0 0 5px black;
}
.detras2{
    rotate: -20deg;
    position: absolute;
    z-index: -14;
    bottom: -33px;
    left: 76px;
    font-size: xxx-large;
    font-family: "Koulen";
    color: yellow;
    text-shadow: 0 0 5px black;
    /* filter: brightness(0.5); */
    opacity: 0.2;
}
.detras3{
    rotate: 28deg;
    position: absolute;
    z-index: -3;
    top: -49px;
    font-size: xxx-large;
    font-family: "Koulen";
    color: #0089ff;
    opacity: 0.2;
}
.App {
    background: url(https://img.freepik.com/foto-gratis/fondo-abstracto-hojas-palma-sombras-pared-blanca_1182-1084.jpg?w=1380&t=st=1662987143~exp=1662987743~hmac=1bb5603…);
    background: url(/img/7171197.jpg);
    background-position: left;
    background-size: cover;
    opacity: 0.99999;
    background: linear-gradient(45deg, white, #ef0000db);
}
.perfil {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    .programador {
        border: 4px solid white;
        border-radius: 51px 10px;
        width: 100%;
        margin: 0 10px;
        max-width: 500px;
        box-sizing: border-box;
        -webkit-background-clip: text;
        background-clip: text;
        padding-top: 92px;
        position: relative;
/*         background: linear-gradient(45deg, #0000000f, transparent);
        background: linear-gradient(45deg, rgb(0 0 0 / 22%), transparent); */
        border: none;
        box-shadow: none;
        /*    background: none; */
        .monster{
            position: absolute;
            top: 0px;
            left: -9px;
            border-radius: 0;
            border: none;
            width: 50px;
            height: 50px;
            z-index: -1;
        }
        .textonormal {
            font-size: large;
            color: black;
            font-family: "Oswald";
            /*             background: #ffffffba; */
        }
        .text-background {
            -webkit-background-clip: text;
            background-clip: text;
            margin-top: -116px;
            background-size: cover;
            background-position: -5px;
/*             animation-name: textbackground;
            animation-duration: 4s;
            animation-iteration-count: infinite; */
            background-image: url(/img/fondoweb.jpg);
            rotate: -10deg;
            z-index: -1;
            position: relative;
        }
        .web {
            border: none;
            animation: none;
            border-radius: 0;
            width: 25px;
            height: 25px;
            display: inline-block;
            animation-name: raton;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            position: absolute;
            bottom: 107px;
            left: calc(70% - 25px);
            border: 4px dashed #daff0078;
            padding: 5px;
        }
        .ficha {
            position: absolute;
            right: 0px;
            z-index: 4;
            top: 0px;
            color: white;
            background: gainsboro;
            width: fit-content;
            border-radius: 10px 0px 0px 10px;
            /* line-height: 0; */
            padding: 5px 20px;
            margin-bottom: 0px;
            top: 50%;
            font-family: "Questrial";
            border: 4px solid #fffbf8;
        }
        img {
            border-radius: 50%;
            object-fit: cover;
            box-sizing: content-box;
            width: 271px;
            height: 271px;
            display: block;
            margin: auto;
            margin-top: 1px;
            border: 4px solid #ffcc6e;
            border: 32px solid #ffcc6e;
            color: white;
            position: relative;
            //dudoso abajo
            /* box-sizing: border-box; */
            border-radius: 5px;
            border: 32px solid #ffffff;
            color: white;
            position: relative;
            box-shadow: inset 0 0 5px black;
            border-radius: 50%;
    object-fit: cover;
    box-sizing: content-box;
    width: 271px;
    height: 271px;
    display: block;
    margin: auto;
    margin-top: 1px;
    border: 4px solid #ffcc6e;
    /* border: 32px solid #ffcc6e; */
    color: white;
    position: relative;
    /* box-sizing: border-box; */
    /* border-radius: 5px; */
    /* border: 32px solid #ffffff; */
    color: white;
    position: relative;
    box-shadow: 5px 4px 5px black;
            &:active {
                opacity: 0.8;
                cursor: pointer;
            }
        }
        & > div {
            position: relative;
            display: flex;
            align-content: center;
            justify-content: center;
            margin-bottom: -22px;
            margin-bottom: 17px;
            margin-top: -44px;
            z-index: 0;
            & > div {
                height: 44px;
                width: 110%;
                position: absolute;
                background: white;
                bottom: 0px;
                z-index: 1;
                margin-bottom: -17px;
                background: #fffbf8;
            }
        }
        .alan {
            background: url(/img/colores.jpg);
            border-radius: 50%;
            width: 160px;
            height: 160px;
            top: -7px;
            position: absolute;
            animation-name: rotacion;
            animation-duration: 280s;
            animation-iteration-count: infinite;
            color: transparent;
            display: none;
        }
        b {
            display: block;
            font-size: xx-large;
            font-weight: bold;
            /*             background: linear-gradient(283deg, rgba(255, 165, 0, 0.3215686275), transparent);
            background: linear-gradient(283deg, transparent, rgb(255 196 88), transparent);
            background: linear-gradient(283deg, rgb(255 196 88 / 72%), transparent);
            border: 8px solid #fffbf8; */
            border-radius: 6px;
            padding: 10px;
            font-family: "Questrial";
            color: #934949;
            margin-bottom: 10px;
            position: relative;
            z-index: 1;
            margin-bottom: 25px;
            color: #8493ff;
            font-size: 40px;
            font-size: 55px;
            font-weight: bold;
            font-family: Josefin Sans;
            color: #000000;
            color: white;
            /*             color: #f9d91f; */
            /* text-shadow: 0 0 2px #000000b0; */
            text-shadow: 0 0 5px #c8ff00;
            text-shadow: 0 0 5px #0000003b;
            i {
                color: #fbff00;
                font-size: 61px;
                font-size: 98px;
                font-style: normal;
                position: relative;
                top: 1px;
                z-index: -1;
            }
        }
        .whatsapp {
            font-size: 60px;
            color: white;
            width: fit-content;
            margin: -29px auto 49px auto;
            &:hover {
                filter: drop-shadow(2px 4px 6px black);
            }
        }
        &:before {
            /* content: ""; */
            position: absolute;
            width: 49%;
            height: 107%;
            background-color: red;
            background: url(/img/star.png);
            background-repeat: no-repeat;
            left: -37px;
            /* top: -43px; */
            /* filter: grayscale(1); */
            /* opacity: 0.8; */
            /* z-index: -1; */
            /* transform: rotate(10deg); */
            box-shadow: 0;
            /* border-radius: 50% 50% 50% 50%;*/
        }
    }
}
.techs {
    overflow: auto;
    margin: 32px 0px -20px -2px;
/*     border-top: 5px solid #ff00003d;
    border-bottom: 5px solid #ffd70066; */
    li {
        position: relative;
        top: 0px;
        font-family: "Koulen";
        font-weight: bold;
        font-size: xx-large;
        border: none;
        color: white;
        display:inline-block;
        &:nth-child(1) {
            text-shadow: 9px -5px red;
            color: gold;
        }
        img {
            width: 40px;
            height: 60px;
        }
        &:hover {
            color: gold !important;
           /*  font-size: 60px; */
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
.fondowrapper {
    padding: 40px 0px;
    margin-top: 40px;
/*     box-shadow: inset 0 0 5px rgb(0 0 0 / 24%); */
    background-image: url("../img/stripes2.jpg");
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    background: linear-gradient(45deg, #0000004a, transparent);
    background: linear-gradient(45deg, rgb(255 233 0 / 29%), transparent);
    background: radial-gradient(#464646d6, #00000087);
    background: #343434;
    position: relative;
    &:before {
        /* content: ""; */
        position: absolute;
        width: 100%;
        height: 231px;
        background: #343434;
        left: 0px;
        top: 0;
        transform: skewY(1deg);
        z-index: -1;
        transform-origin: top right;
        overflow: hidden;
        box-shadow: 0 0 5px black;
    }
}
